<span
  class="mui--text-title mui--text-dark-hint"
  style="margin-top:0;margin-bottom:15px;">
  {{timezone}}</span>
<span class="mui--pull-right mui--align-bottom mui--text-dark-hint"> {{time}}</span>
