<span class="mui-btn--fab mui--text-subhead mui--text-dark-hint"
  style="background-color: {{color}};
  padding: 10px;
  font-weight:bold;">{{initials}}</span>
<span class="mui--text-body2 mui--text-dark-secondary"style="margin-left: 20px;">{{name}}</span>
